.intro{
    width: 100%;
    border-top: 1px solid #343434;
    position: relative;
    top: 150px;
}

/*
@media only screen and (max-width: 880px) {
    .intro{
    
    top: 70px;
}
}
*/

.title{
    color: aliceblue;
    text-align: center;
}

.title .h2{
    text-align: center;
    text-shadow: 3px 4px 6px rgb(0 0 0 / 45%);
    
}


.title .h2{
    font-size: calc(20px + 14 * ((100vw - 414px)/ 1186));
    margin-bottom: 10px;
    font-weight: 200;
}



body{
    background: #343434;
    margin: 0;
    padding: 0;
}

.mainItem{
    width: 217px;
    height: 250px;
    border: 1px solid #EEEEEE;
    padding: 20px;
    margin: 40px 0px;
    position: relative;
}
.mainItem:hover{
    background-color: #999;
    transition: 1s;
    border: none;
}





.item{
    margin: 0px 0px 15px 0;
    transition: 1s;
}
.mainItem:hover>.item{
    margin: 0px;
    transition: 1s;
}

.item img{
    transition: 1s;
    width: 200px;
    height: 198px;
}
.mainItem:hover>.item img{
    transition: 1s;
    width: 200px;
    height: 198px;
}

.mainItem p{
    font-size: 11px;
    color: #EEEEEE;
}




/*----------*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
    margin: 0px 150px;
    
     position: relative;
    top: 150px;
}



.grid-item {
  
  text-align: center;
}

@media screen and (max-width:1100px) {
  .grid-container {
  display: grid;
  grid-template-columns: auto auto auto ;
    margin: 0px 50px;
}
}
@media screen and (max-width:750px) {
  .grid-container {
  display: grid;
  grid-template-columns: auto auto;
    margin: 0px 30px;
}
}

/*----------*/


.map{
    margin: 30px;
    position: relative;
    top: 150px;
}

    

/*----------*//*----------*//*----------*//*----------*//*----------*//*----------*//*----------*//*----------*/
    

